html {
  font-family: system-ui;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: .5em;
  background-color: #ddd;
  color: #333;
  background-image: linear-gradient(to bottom, #ddd, #777);
  background-repeat: no-repeat;
}

h2 {
  font-weight: 200;
}

hr {
  display: block;
  height: 5px;
  border: 0;
  border-top: 1px solid cornflowerblue;
  margin: 1em 0;
  padding: 0;
}

@media (prefers-color-scheme: dark) {
  html {
    color: #ccc;
    background-color: #333;
    background-image: linear-gradient(to bottom, #333, #000);
  }
}
