html {
  font-family: system-ui;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: .5em;
  background-color: #ddd;
  color: #333;
  background-image: linear-gradient(to bottom, #eee, #999);
  background-repeat: no-repeat;
}

h2, h1 {
  font-weight: 200;
}

a {
  color: cornflowerblue;
}

a:visited {
  color: coral;
}

@media (prefers-color-scheme: dark) {
  html {
    color: #ccc;
    background-color: #333;
    background-image: linear-gradient(to bottom, #333, #000);
  }
}
