/* Please prefix class names with ss (e.g., ss-menu-item) to avoid conflicts with other features when CSS is bundled */

/* Please prefix class names with sh (e.g., sh-menu-item) to avoid conflicts with other features when CSS is bundled */

.overview-header {
  display: inline-grid;
  border-bottom: 3px cornflowerblue;
}

.overview-title {
  color: cornflowerblue;
  font-size: 3em;
}

.overview-searchBar {
  position: absolute;
  margin: auto;
  border: 3px solid cornflowerblue;
  border-radius: 5px;
  left: 575px;
  width: 40em;
}

.overview-homeIcon {
  position: absolute;
  right: 5%;
}

.overview-userIcon {
  position: absolute;
  right: 10%;
}

hr {
  display: block;
  height: 5px;
  border: 0;
  border-top: 1px solid cornflowerblue;
  margin: 1em 0;
  padding: 0;
}

.overview-banner {
  width: auto;
  height:auto;
  max-height: 30em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.overview-aboutHeader {
  color:cornflowerblue;
}

.overview-userReview {
  width: 50em;
  height: 20em;
}

@media (prefers-color-scheme: dark) {
  /* Modifications for dark mode go here */

}

.streamingLogo:hover {
  cursor: pointer;
}