/* Please prefix class names with ss (e.g., ss-menu-item) to avoid conflicts with other features when CSS is bundled */

/* Please prefix class names with sh (e.g., sh-menu-item) to avoid conflicts with other features when CSS is bundled */

.overview-header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border-bottom: 3px cornflowerblue;
}

.overview-title {
  color: cornflowerblue;
  font-size: 3em;
  margin-bottom: 0;
}

.overview-searchBar {
  position: absolute;
  margin: auto;
  border: 3px solid cornflowerblue;
  border-radius: 5px;
  left: 575px;
  width: 30em;
}

.overview-homeIcon {
  position: absolute;
  right: 5%;
}

.overview-userIcon {
  position: absolute;
  right: 10%;
}

hr {
  display: block;
  height: 5px;
  border: 0;
  border-top: 1px solid cornflowerblue;
  margin: 1em 0;
  padding: 0;
}

.overview-banner {
  width: auto;
  height: auto;
  max-height: 30em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.overview-aboutHeader {
  color:cornflowerblue;
  margin-top: 0;
}

.overview-userReview {
  width: 50em;
  height: 20em;
}

.streamingLogo:hover {
  cursor: pointer;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.modal-body {
  border: white 0.5em solid;
  background-color: #333;
  padding: 0 0 1em 1em;
  display: flex;
  align-items: flex-start;
}

.radio {
  cursor: pointer;
}

.button {
  align-items: center;
  padding: 0em 0.2em 0em 0.2em;
  color: #333;
  background-color: white;
}

.button:hover {
  cursor: pointer;
}

.submit {
  cursor: pointer;
}

form {
  display: flex;
}

.watchedForm {
  display: flex;
  flex-direction: column;
  padding: 1em 1em 0em 1em
}

.sc-star-rating {
  cursor: pointer;
}

.sc-stars {
  user-select: none;
  display: block;
  min-width: 100%;
  max-width: 100%;
  background-image: linear-gradient(to right, cornflowerblue 5em, #0003 5em);
  background-repeat: repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  overflow: hidden;
}

.sc-stars a {
  text-decoration: none;
}

.sc-star {
  color: transparent;
  background-clip: text;
}

.sc-star:hover {
  color: cornflowerblue;
  text-shadow: 0 0 4px;
  cursor: pointer;
}

#innerDetails {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: auto auto;
  grid-template-rows: 1fr;
}

.banner-image {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}

.aboutMovie {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
}

.watchOnIcons {
  display: flex;
  justify-content: space-evenly;
}