/* Please prefix class names with sa (e.g., sa-menu-item) to avoid conflicts with other features when CSS is bundled */

#CreateAccount {
  color: cornflowerblue;
  margin: 1em;
}

.mainCreateAccount {
  margin: 0;
  border: 3px solid cornflowerblue;
  border-radius: 1em;
  width: 30em;
  height: 20em;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 10px;
}

.ca-titleHeader {
  font-size: 2em;
  text-align: center;
}

/* h1 {
  color: cornflowerblue;
}

h3 {
  color: cornflowerblue;
} */

.createAccountHeader {
  color:cornflowerblue;
}

.ca-name {
  color: cornflowerblue;
}

.ca-username {
  padding-top: 1em;
  color: cornflowerblue;
}

.ca-email {
  padding-top: 1em;
  color: cornflowerblue;
}
.ca-password {
  padding-top: 1em;
  color: cornflowerblue;
}

.ca-subscriptionOptions {
  padding-top: 1em;
  padding-bottom: 1em;
  color: cornflowerblue;
}

.ca-subscriptionIcons {
  padding-bottom: 1em;
}

.ca-login-link {
  margin: auto;
  padding-bottom: 1em;
}

#netflix {
  padding-top: 1em;
  padding-left: .5em;
  padding-right: .5em;
  height: 75px;
  width: 75px;
}

#hbo {
  padding-top: 1em;
  padding-left: .5em;
  padding-right: .5em;
  height: 75px;
  width: 75px;
}

#disney {
  padding-top: 1em;
  padding-left: .5em;
  padding-right: .5em;
  height: 75px;
  width: 75px;
}

@media (prefers-color-scheme: dark) {
/* Modifications for dark mode go here */

}
