/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap'); */

.mtc-carousel {
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  padding: .5em;
  overflow: hidden;
  width: 100%;
  margin-bottom: .5em;
}

.mtc-component-title {
  display: flex;
  user-select: none;
  justify-self: left;
}

.mtc-viewport {
  display: flex;
  box-sizing: content-box;
  min-width: 100%;
  max-width: 100%;
  margin: 8px 0;
  min-height: 22em;
  max-height: 22em;
}

.mtc-nav {
  /* box-sizing: content-box; */
  color: #666;
  z-index: 2;
  position: absolute;
  line-height: 22em;
  min-width: 6em;
  max-width: 6em;
  min-height: 22.1em;
  max-height: 22.1em;
  /* border: none !important; */
  cursor: pointer;
}


.mtc-nav-symbol {
  font-size: 3em;
  user-select: none;
}

.mtc-nav-left {
  left: 0;
  text-justify: left;
  background-image: linear-gradient(to right, #fff, #fff, #ffff, #fff0);
}

.mtc-nav-left:hover {
  color: #000;
  text-shadow: 6px 4px 8px #333;
}

.mtc-nav-right span {
  float: right;
}

.mtc-nav-right {
  right: 0;
  background-image: linear-gradient(to left, #fff, #fff, #ffff, #fff0);
}

.mtc-nav-right:hover {
  color: #000;
  text-shadow: -6px 4px 8px #333;
}

.mtc-tile-container {
  display: flex;
  flex-flow: row nowrap;
  position: relative;
  left: 0;
  /* min-width: max-content;
  max-width: max-content; */
  height: 23em;
  overflow: auto;
  justify-content: stretch;
  flex: 1;
  scroll-behavior: smooth;
  transition: all 4ms;
}

.mtc-title {
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  margin: 4px 0;
  flex: 2 2;
  min-height: 2.4em;
  overflow: hidden;
}

.mtc-tile, .mtc-tile-sticky, .mtc-tile-placeholder {
  transition: all 20ms;
  box-sizing: content-box;
  display: flex;
  flex-flow: column;
  flex: none;
  align-items: flex-start;
  justify-content: stretch;
  width: 15em;
  height: 22em;
  min-height: 22em;
  border: 1px solid #333;
  margin-right: 8px;
  user-select: none;
}

.mtc-tile-placeholder {
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.mtc-tile-sticky {
  background-color: #fffc;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  z-index: 2;
  position: sticky;
  left: 0;
}

.mtc-info {
  display: flex;
  flex-flow: column;
  flex: none;
  justify-content: space-between;
  padding: 6px;
  height: 6em;
}

.mtc-price {
  font-size: .8em;
}

.mtc-category {
  font-size: .8em;
}

.mtc-image-backer {
  flex-shrink: 0;
  display: inline-flex;
  vertical-align: middle;
  background-color: #ddd;
  width: 15em;
  height: 15em;
  overflow: hidden;
  position: relative;
  top: 0;
  left: 0;
}

.mtc-tile img {
  margin: auto;
  min-width: 15em;
  min-height: 15em;
  justify-self: center;
}

.mtc-compare-symbol, .mtc-remove-symbol {
  color: #ffff;
  text-shadow: 0 0 2px black;
  position: relative;
  top: -.1em;
  right: 2em;
  height: 1.3em;
  width: 1.3em;
  font-size: 1.3em;
  font-weight: 800;
  justify-self: right;
  text-align: center;
  align-items: center;
  user-select: none;
  margin: .5em;
  cursor: pointer;
}

.mtc-remove-symbol {
  font-size: 2.5em;
  right: .8em;
  transform: rotate(45deg);
  border-radius: 1.25em;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

.mtc-compare-exit {
  color: #444;
  position: relative;
  top: -.5em;
  right: -.2em;
  text-align: center;
  user-select: none;
  cursor: pointer;
  font-size: 2.5em;
  transform: rotate(45deg);
  font-weight: 300;
}

.mtc-star-rating {
  /* margin: 4px 0; */
  /* align-self: auto; */
  cursor: default;
  /* flex-grow: 2; */
}

.mtc-invisible-container {
  background-color: #fff0;
  overflow-x: auto;
  overflow-y: scroll;
  position: relative;
  top: 1em;
  padding-bottom: 1em;
}

.mtc-compare-row, .mtc-compare-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

.mtc-stars {
  display: block;
  min-width: 100%;
  max-width: 100%;
  background-image: linear-gradient(to right, #dd9944 5em, #333 5em);
  background-repeat: repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  overflow: hidden;
}

@media all and (max-width: 40em) {
  .mtc-tile-sticky {
    position: static;
  }
}

@media (prefers-color-scheme: dark) {

  .mtc-carousel-nav-left, .mtc-carousel-nav-right {
    border: 2px solid #fff3;
  }

  .mtc-nav-left {
    background-image: linear-gradient(to right, #222, #222, #222f, #2220);
  }

  .mtc-nav-right {
    background-image: linear-gradient(to left, #222, #222, #222f, #2220);
  }

  .mtc-nav {
    color: #999;
  }

  .mtc-image-backer {
    background-color: #555;
  }

  .mtc-tile-sticky {
    background-color: #333c;
  }

  .mtc-tile, .mtc-tile-sticky, .mtc-tile-placeholder {
    border-color: #ccc;
  }

  .mtc-stars {
    background-image: linear-gradient(to right, #dd9944 5em, white 5em);
  }

  .mtc-nav-left:hover, .mtc-nav-right:hover, .mtc-remove-symbol:hover {
    color: #fff;
    text-shadow: 0 0 8px #aaa;
  }
}