/* "sc" prefix stands for "Shared Component" */

.sc-star-rating {
  cursor: pointer;
}

.sc-stars {
  user-select: none;
  display: block;
  min-width: 100%;
  max-width: 100%;
  background-image: linear-gradient(to right, white 5em, #0003 5em);
  background-repeat: repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  overflow: hidden;
}

.sc-stars a {
  text-decoration: none;
}

.sc-star {
  color: transparent;
  background-clip: text;
}

.sc-star:hover {
  color: cornflowerblue;
  text-shadow: 0 0 4px;
}

@media (prefers-color-scheme: dark) {
  /* Modifications for dark mode go here */
  .sc-stars {
    background-image: linear-gradient(to right, cornflowerblue 5em, #fff3 5em);
  }
}
