/* Please prefix class names with sh (e.g., sh-menu-item) to avoid conflicts with other features when CSS is bundled */

#Home {
  color: cornflowerblue;
  margin: 1em;
}
.s-header-home, .t-header-home, .h-header-home {

 
}
.test{
  display: flex;
  justify-content: flex-start;
  width: 25%;
}
/* .home-header {
  display: inline-grid;
  border-bottom: 3px cornflowerblue;
}

.home-title {
  color: cornflowerblue;
  font-size: 3em;
}

.home-searchBar {
  position: absolute;
  margin: auto;
  border: 3px solid cornflowerblue;
  border-radius: 5px;
  left: 575px;
  width: 40em;
}

.home-homeIcon {
  position: absolute;
  right: 5%;
}

.home-userIcon {
  position: absolute;
  right: 10%;
}

#Home hr {
  display: block;
  height: 5px;
  border: 0;
  border-top: 1px solid cornflowerblue;
  margin: 1em 0;
  padding: 0;
}

.home-suggested {
  color: cornflowerblue;
}

.home-trending {
  color:cornflowerblue;
}

.home-history {
  color:cornflowerblue;
} */

@media (prefers-color-scheme: dark) {
  /* Modifications for dark mode go here */

} 